<h1 class='welcome'>Welcome to Nerd Bay, <%= current_user.name %></h1>

<section class='weather'>
<h1>Today's Forecast for <%= current_user.city %> </h1>
    <h3>Outside: <%= @presenter.weather.conditions %></h3>
    <p>Description: <%= @presenter.weather.description %></p>
    <li>Current Temperature: <%= @presenter.weather.temp %> °C</li>
    <li>Today's Max temp: <%= @presenter.weather.max_temp %> °C</li>
    <li>Today's Min temp: <%= @presenter.weather.min_temp %> °C</li>
    <li>Wind Speed: <%= @presenter.weather.wind_speed %> mps</li>
    <li>Visibility: <%= @presenter.weather.visibility %> meters</li>
</section>

<section class='quote-of-day'>
    <h2><%= @presenter.quote.quote %></h2>
    <p><%= @presenter.quote.author %></p>
</section>

<div class='container'>
  <h1 class='gifs'>Enjoy Some Random Gifs</h1>
    <div class='col-md-4'>
      <%= image_tag(@presenter.giphy.url, class:'img-responsive') %>
    </div>
    <div class='col-md-4'>
      <%= image_tag(@presenter.giphy.url, class:'img-responsive') %>
    </div>
    <div class='col-md-4'>
      <%= image_tag(@presenter.giphy.url, class:'img-responsive') %>
    </div>
</div>
