<div class='container'>
  <div class='col-md-4'>
    
  </div>

  <div class='col-md-4'>
    <ol class='twitch-list'>
    <h2>Twitch Streamers</h2>
    <% @streams.each do |stream| %>
      <li><%= stream.game %></li>
        <ul>
          <div class='col-md-6'>
            <%= image_tag(stream.logo, class:'streamer-logo') %>
          </div>
          <div class='col-md-6'>
            <li>Streamer: <%= link_to stream.streamer, stream.url %></li>
            <li>Total Views: <%= stream.views %></li>
            <li>Followers: <%= stream.followers %></li>
          </div>
        </ul>
    <% end %>
    </ol>
  </div>

  <div class='col-md-4'>
    
  </div>
</div>