<div class='container'>
  <h1 class='api-headers'>Hottest Twitch Stream</h1>
  <iframe src="https://player.twitch.tv/?channel=<%= @presenter.streams[0].streamer %>" frameborder="0" allowfullscreen="true" scrolling="no" height="600" width="1140"></iframe><a href="https://www.twitch.tv/#{@presenter.streams[0].streamer}?tt_medium=live_embed&tt_content=text_link" target="_blank" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;">Watch live video from <%= @presenter.streams[0].streamer %> on www.twitch.tv</a>
</div>
<%= render partial: "shared/twitch" %>


<%= render partial: "shared/movies" %>


<%= render partial: "shared/ign" %>


<%= render partial: "shared/hacker" %>


<%= render partial: "shared/espn" %>


<%= render partial: "shared/reddit" %>