<div class='container'>
  <h1>Top 10 Twitch Streamers on Right Now</h1>

  <table class = "table">
    <tr>
      <th>Game</th>
      <th>Streamer</th>
      <th></th>
      <th>Total Views</th>
      <th>Total Followers</th>
    </tr>
    <% @streams.take(10).each do |stream|%>
      <tr>
        <td><%= stream.game %></td>
        <td><%= link_to stream.streamer, stream.url, target: "_blank" %></td>
        <td><%= image_tag(stream.logo, class:'streamer-logo') %></td>
        <td><%= stream.views %></td>
        <td><%= stream.followers %></td>
      </tr>
    <% end %>
  </table>
</div>