<!DOCTYPE html>
<html>
  <head>
    <title>NerdBay</title>
    <%= favicon_link_tag 'nerd_bay.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render partial: 'shared/navbar' %>
  </header>
  <body>
    <%= render partial: 'shared/flash' %>
    <%= yield %>
  </body>
    <%= javascript_include_tag 'application', "data-no-turbolink": true  %>
</html>
